
---
import BaseLayout from '../layouts/BaseLayout.astro';
import Counter from '../components/Counter.astro';
---

<BaseLayout title="Home">
  <h1>this will be my home page!</h1>
  <Counter />
</BaseLayout>

