
---
import BaseLayout from '../layouts/BaseLayout.astro';
import Counter from '../components/Counter.astro';
---

<BaseLayout title="Home">
  <h1>this will be my home page!</h1>

  <!-- carousel -->

  <div id="folkloreCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="ratio ratio-21x9">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Stonehenge2007_07_30.jpg/1280px-Stonehenge2007_07_30.jpg" 
              class="d-block w-100 carousel-img crop-60" alt="Stonehenge">
        </div>

          <div class="carousel-caption d-none d-md-block">
          <h5>Stonehenge</h5>
          <p>Ancient site shrouded in legend and mystery.</p>
        </div>
      </div>
      <div class="carousel-item">

        <div class="ratio ratio-21x9">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Causeway-code_poet-4.jpg"
              class="d-block w-100 carousel-img crop-top" alt="The Giant's Causeway">
        </div>

          <div class="carousel-caption d-none d-md-block">
          <h5>Giant's Causeway</h5>
          <p>Legend of Finn McCool shaping the land.</p>
        </div>
      </div>
      <div class="carousel-item">

        <div class="ratio ratio-21x9">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/LochNessUrquhart.jpg"
              class="d-block w-100 carousel-img crop-bottom" alt="Loch Ness">
        </div>

        <div class="carousel-caption d-none d-md-block">
          <h5>Loch Ness</h5>
          <p>The mystery of Nessie, the water-dwelling monster.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#folkloreCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#folkloreCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>



</BaseLayout>

